<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <span th:replace="fragments/citizen_fragments :: head('e-TravelPermit')">
  </span>
  <span th:replace="fragments/citizen_fragments :: common-css"></span>
  <style>
    .form-error {
      color: red;
    }

    .error {
      width: 100%;
    }

    label {
      font-weight: bold;
      color: rgb(61, 60, 60);
    }
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <span th:replace="fragments/citizen_fragments :: side-navbar('travelPermit','newRequest')"></span>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <span th:replace="fragments/citizen_fragments :: top-navbar"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <form autocomplete="off" th:action="@{/citizen/updateRequest}" method="POST" th:object="${journey}"
                  id="form-new-request">
                  <input type="hidden" name="id" th:field="*{id}" />
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      New Application Form (নতুন আবেদনৰ বাবে ফৰ্ম)
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="divider">
                      <label>Category of Passengers (যাত্ৰীৰ ধৰন সমূহ)</label>
                    </div>
                    <div class="row">
                      <div class="col-xl-4 col-md-6 mb-4">
                        <div class="form-group">
                          <label for="purpose">
                            <span class="mandetory">*</span>Select Category (বিভাগ নিবাৰ্চন কৰক)
                          </label>
                          <select th:field="*{purpose}" name="purpose" id="purpose" class="form-control"
                            data-validation="required">
                            <option value="" selected="selected">--Select--</option>
                            <option th:each="purpose : ${purposeList}" th:value="${purpose.purposeCode}"
                              th:text="${purpose.purpose}"></option>
                          </select>
                          <span th:if="${#fields.hasErrors('purpose')}"
                                                          th:errors="*{purpose}"
                                                          class="error"
                                                          ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="justification">
                                                        Details (সৱিশেষ)
                                                    </label>
                                                    <textarea
                                                        th:field="*{purposeDetails}"
                                                        name="justification"
                                                        id="justification"
                                                        class="form-control"
                                                        ></textarea>
                                                    <span
                                                        th:if="${#fields.hasErrors('purposeDetails')}"
                                                        th:errors="*{purposeDetails}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="journeyType">
                                                      <span class="mandetory">*</span>Willing To (কোনফালে যাৱ বিচাৰে)
                                                    </label>
                                                    <select th:field="*{journeyType}" data-validation="required" id="journeyType" class="form-control">
                                                        <option value="">--SELECT--</option>
                                                        <option th:each="journeyType : ${journeyTypeList}" th:value="${journeyType.journeyTypeCode}"
                                                                th:text="${journeyType.journeyType}">
                                                        </option>
                                                    </select>
                                                    <span th:if="${#fields.hasErrors('journeyType')}"
                                                          th:errors="*{journeyType}"
                                                          class="error"
                                                          >
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider">
                                            <label>PASSENGER DETAILS (USE ADD MORE BUTTON FOR ADDING NEW MEMBER) (যাত্ৰীৰ সৱিশেষ (নতুন সদস্যৰ সৱিশেষ ভৰাবলৈ এড বুটন ক্লিক কৰক )</label>
                                        </div>
                                        <div id="memberDiv">

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-0 col-md-1"></div>
                                            <div class="col-xs-12 col-md-10">
                                                <button type="button" id="btnAdd" class="btn btn-primary btn-sm">Add More</button>
                                                <button type="button" id="btnRemove" class="btn btn-danger btn-sm">Remove Last</button>
                                            </div>
                                            <div class="col-xs-0 col-md-1"></div>
                                        </div>
                                        <div class="divider">
                                            <label>Journey From (ক'ৰ পৰা আহিছে তাৰ সৱিশেষ)</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="fromState">
                                                      <span class="mandetory">*</span>From State (ৰাজ্য)
                                                    </label>
                                                    <select data-validation="required"
                                                            th:field="*{fromState}"
                                                            name="fromState"
                                                            id="fromState"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected"
                                                                >--SELECT--</option
                                                        >
                                                        <option
                                                            th:each="state : ${stateList}"
                                                            th:value="${state.stateCode}"
                                                            th:text="${state.stateName}"
                                                            th:attr="id=${state.stateCode == '18'?'fromAssam':''}"
                                                            ></option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('fromState')}"
                                                        th:errors="*{fromState}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="fromDistrict">
                                                      <span class="mandetory">*</span>From District (জিলা)
                                                    </label>
                                                    <select data-validation="required"
                                                            th:field="*{fromDistrict}"
                                                            name="fromDistrict"
                                                            id="fromDistrict"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected"
                                                                >--SELECT--</option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('fromDistrict')}"
                                                        th:errors="*{fromDistrict}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="fromSubDistrict.subDistrictCode">
                                                      <span class="mandetory">*</span>From Sub District (মহকুমা)
                                                    </label>
                                                    <select data-validation="from_sub_district_validator"
                                                            th:field="*{fromSubDistrict}"
                                                            name="fromSubDistrict"
                                                            id="fromSubDistrict"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected">--SELECT--</option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('fromSubDistrict')}"
                                                        th:errors="*{fromSubDistrict}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="fromPincode">
                                                      <span class="mandetory">*</span>From Pincode (পিন ক'ড)
                                                    </label>
                                                    <input data-validation="required number length" data-validation-length="6" th:field="*{fromPincode}" type="text" id="fromPincode" placeholder="Enter Pincode"
                                                           class="form-control" />
                                                    <span th:if="${#fields.hasErrors('fromPincode')}" th:errors="*{fromPincode}" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group" id="fromPoliceStationDiv">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider">
                                            <label>Journey To (ক'লৈ যাব তাৰ সৱিশেষ)</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="toState">
                                                      <span class="mandetory">*</span>To State (ৰাজ্য )
                                                    </label>
                                                    <select data-validation="required"
                                                            th:field="*{toState}"
                                                            name="toState"
                                                            id="toState"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected"
                                                                >--SELECT--</option
                                                        >
                                                        <option
                                                            th:each="state : ${stateList1}"
                                                            th:value="${state.stateCode}"
                                                            th:text="${state.stateName}"
                                                            th:attr="id=${state.stateCode == '18'?'toAssam':''}"
                                                            ></option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('toState')}"
                                                        th:errors="*{toState}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="toDistrict">
                                                      <span class="mandetory">*</span>To District (জিলা)
                                                    </label>
                                                    <select data-validation="required"
                                                            th:field="*{toDistrict}"
                                                            name="toDistrict"
                                                            id="toDistrict"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected"
                                                                >--SELECT--</option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('toDistrict')}"
                                                        th:errors="*{toDistrict}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="toSubDistrict">
                                                      <span class="mandetory">*</span>To Sub District (মহকুমা)
                                                    </label>
                                                    <select data-validation="to_sub_district_validator"
                                                            th:field="*{toSubDistrict}"
                                                            name="toSubDistrict"
                                                            id="toSubDistrict"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected">--SELECT--</option>
                                                    </select>
                                                    <span
                                                        th:if="${#fields.hasErrors('toSubDistrict')}"
                                                        th:errors="*{toSubDistrict}"
                                                        class="error"
                                                        ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="toPincode">
                                                      <span class="mandetory">*</span>To Pincode (পিন ক'ড)
                                                    </label>
                                                    <input data-validation="required number length" data-validation-length="6" th:field="*{toPincode}" type="text" id="toPincode" placeholder="Enter Pincode"
                                                           class="form-control" />
                                                    <span th:if="${#fields.hasErrors('toPincode')}" th:errors="*{toPincode}" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group" id="toPoliceStationDiv">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider">
                                            <label>Journey Arrangement Details (যাত্ৰা ব্যৱস্থাৰ সৱিশেষ)</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label for="arrangementType">
                                                      <span class="mandetory">*</span>Type of Arrangement (যাত্ৰাৰ ধৰন)
                                                    </label>
                                                    <select data-validation="required"
                                                            th:field="*{arrangementType}"
                                                            name="arrangementType"
                                                            id="arrangementType"
                                                            class="form-control"
                                                            >
                                                        <option value="" selected="selected"
                                                                >--SELECT--</option
                                                        >
                                                        <option
                                                            th:each="arrangementType : ${arrangementTypeList}"
                                                            th:value="${arrangementType.arrangementTypeCode}"
                                                            th:text="${arrangementType.arrangementType}"
                                                            ></option>
                                                    </select>
                                                    <span th:if="${#fields.hasErrors('arrangementType')}"
                                                          th:errors="*{arrangementType}"
                                                          class="error"
                                                          >
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4 privateArrangemnt">
                                                <div class="form-group">
                                                    <label for="journeyDate">
                                                      <span class="mandetory">*</span>Journey Date (যাত্ৰাৰ তাৰিখ)
                                                    </label>
                                                    <input th:field="*{journeyDate}" readonly data-validation="custom_arrangement_validation" data-validation-format="dd/mm/yyyy" type="text" id="journeyDate" placeholder="DD/MM/YYYY" class="form-control" />
                                                    <span th:if="${#fields.hasErrors('journeyDate')}"
                                                          th:errors="*{journeyDate}"
                                                          class="error"
                                                          >
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6 mb-4 privateArrangemnt">
                                                <div class="form-group">
                                                    <label for="modeOfTransport">
                                                      <span class="mandetory">*</span>Mode of Transport (পৰিবহনৰ পদ্ধতি)
                                                    </label>
                                                    <select th:field="*{modeOfTransport}" data-validation="custom_arrangement_validation" name="modeOfTransport" id="modeOfTransport" class="form-control">
                                                        <option value="">--SELECT--</option>
                                                        <option value="01">By Road</option>
                                                        <option value="02">By Train</option>
                                                        <option value="03">By Air</option>
                                                    </select>
                                                    <span th:if="${#fields.hasErrors('modeOfTransport')}"
                                                          th:errors="*{modeOfTransport}"
                                                          class="error"
                                                          ></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-xl-4 col-md-6 mb-4 privateArrangemnt">
                                              <div class="form-group ">
                                                  <label for="transportDetails">
                                                    <span class="mandetory">*</span>Transport Details (পৰিবহনৰ সৱিশেষ)
                                                  </label>
                                                  <input th:field="*{transportDetails}" data-validation="custom_arrangement_validation"  type="text" id="transportDetails" placeholder="Enter Vehicle No./Ticket No"
                                                         class="form-control" />
                                                  <span th:if="${#fields.hasErrors('transportDetails')}" th:errors="*{transportDetails}" class="error"></span>
                                              </div>
                                          </div>
                                            <div class="col-xl-4 col-md-6 mb-4 privateArrangemnt">
                                                <div class="form-group" id="modeOfTransportDiv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <input type="hidden" id="span-validation-check">
                                        <!-- <input type="submit" id="btn-form-save-draft" class="btn btn-primary" name="submit" value="Save Draft" />&nbsp;&nbsp; -->
                                        <input type="submit" id="btn-form-final-submit" class="btn btn-success" name="submit" value="Final Submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span th:replace="fragments/citizen_fragments :: footer"></span>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <span
        th:replace="fragments/citizen_fragments :: common-js('travelPermit')"
        ></span>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script>
      $(function () {
        $("#btn-form-final-submit").click(function () {
          $('#span-validation-check').val('true');
        });
        $("#btn-form-save-draft").click(function () {
          $('#span-validation-check').val('false');
        });
        $.validate({
          form: '#form-new-request',
          modules: 'date'
        });
        $(".loader").fadeOut("slow");
        $('#form-new-request')
          .on('beforeValidation', '.form-control', function (value, lang, config) {
            let ifValidationRequired = $('#span-validation-check').val();
            if (ifValidationRequired === 'true') {
              $(this).removeAttr('data-validation-skipped');
            } else {
              $(this).attr('data-validation-skipped', 1);
            }
          })
          .on('validation', function (evt, valid) {
            console.log(evt);
          });
        $.formUtils.addValidator({
          name: 'to_sub_district_validator',
          validatorFunction: function (value, $el, config, language, $form) {

            const toDistrict = $("#toDistrict").val();
            if (toDistrict === '315' || toDistrict === '482' || toDistrict === '483') {
              return true;
            } else {
              if (value == null || value == '') {
                return false;
              } else {
                return true;
              }
            }
          },
          errorMessage: 'This field is required',
          errorMessageKey: 'invalidToSubDistrict'
        });

        $.formUtils.addValidator({
          name: 'custom_arrangement_validation',
          validatorFunction: function (value, $el, config, language, $form) {

            const arrangementType = $("#arrangementType").val();
            if (arrangementType === "01") {
              return true;
            }
          },
          errorMessage: 'This field is required',
          errorMessageKey: 'invalidArrangement'
        });
        $.formUtils.addValidator({
          name: 'from_sub_district_validator',
          validatorFunction: function (value, $el, config, language, $form) {

            const fromDistrict = $("#fromDistrict").val();
            if (fromDistrict === '315' || fromDistrict === '482' || fromDistrict === '483') {
              return true;
            } else {
              if (value == null || value == '') {
                return false;
              } else {
                return true;
              }
            }
          },
          errorMessage: 'This field is required',
          errorMessageKey: 'invalidFromSubDistrict'
        });
      });
    </script>
    <script th:inline="javascript">

      var memberCount = 0;
      function addMember(name, gender, age, condition) {
        memberCount++;
        var str = "<div class=\"row\"  id=\"member" + memberCount + "\">\n" +
          "" +
          "                <div class=\"col-12 col-md-4\">\n" +
          "                  <div class=\"form-group\">\n" +
          "                    <span class=\"mandetory\">*</span>\n" +
          "                    <label for=\"name\">\n" +
          "                      Member " + memberCount + " name (নাম)\n" +
          "                    </label>\n" +
          "                    <input type=\"text\" data-validation=\"required\" data-validation-allowing=\" \" name=\"name\" value=\"" + name + "\" id=\"name_" + memberCount + "\" placeholder=\"Enter Full Name\" class=\"form-control\" />\n" +
          "                  <span class=\"errorMsg\" id=\"nameError_" + memberCount + "\"></span>\n" +
          "                  </div>\n" +
          "                </div>\n" +
          "                <div class=\"col-12 col-md-4\">\n" +
          "                  <div class=\"form-group\">\n" +
          "                    <span class=\"mandetory\">*</span>\n" +
          "                    <label for=\"gender\">\n" +
          "                      Gender (লিংগ)\n" +
          "                    </label>\n" +
          "                    <select class=\"form-control\" data-validation=\"required\" name=\"gender\" id=\"gender_" + memberCount + "\">\n" +
          "                       <option value=\"\">--SELECT--</option>\n" +
          "                       <option value=\"M\"" + ((gender === 'M') ? "selected" : "") + ">Male</option>\n" +
          "                       <option value=\"F\" " + ((gender === 'F') ? "selected" : "") + ">Female</option>\n" +
          "                       <option value=\"O\" " + ((gender === 'O') ? "selected" : "") + ">Other</option>\n" +
          "                    </select>\n" +
          "                  <span class=\"errorMsg\" id=\"genderError_" + memberCount + "\"></span>\n" +
          "                  </div>\n" +
          "                </div>\n" +
          "                <div class=\"col-12 col-md-4\">\n" +
          "                  <div class=\"form-group\">\n" +
          "                    <span class=\"mandetory\">*</span>\n" +
          "                    <label for=\"age\">\n" +
          "                      Age (বয়স)\n" +
          "                    </label>\n" +
          "                    <input type=\"text\" data-validation=\"required number\" data-validation-allowing=\"range[0;120]\" name=\"age\" value=\"" + age + "\" id=\"age_" + memberCount + "\" placeholder=\"Enter Age as on 1st Jan 2020\" class=\"form-control\" />\n" +
          "                  <span class=\"errorMsg\" id=\"ageError_" + memberCount + "\"></span>\n" +
          "                  </div>\n" +
          "                </div>\n" +
          "                <div class=\"col-12 col-md-12\">\n" +
          "                  <div class=\"form-group\">\n" +
          "                    <label for=\"condition\">\n" +
          "                      <span class=\"mandetory\">*</span>If any of travellers have serious medical ailments (Heart Disease/ Lung Disease/Liver Cancer/ KidneyDisease )<br>&nbsp;&nbsp;&nbsp;&nbsp;If yes, please carry the medical documents.\n" +
          "                    </label>\n" +
          "                    <select style=\"width:250px;\" class=\"form-control\" data-validation=\"required\" name=\"condition\" id=\"condition_" + memberCount + "\">\n" +
          "                       <option value=\"\">--SELECT--</option>\n" +
          "                       <option value=\"YES\"" + ((condition === 'YES') ? "selected" : "") + ">Yes</option>\n" +
          "                       <option value=\"NO\" " + ((condition === 'NO') ? "selected" : "") + ">No</option>\n" +
          "                    </select>\n" +
          "                  <span class=\"errorMsg\" id=\"conditionError_" + memberCount + "\"></span>\n" +
          "                  </div>\n" +
          "                </div>\n" +
          "              </div>";
        $("#memberDiv").append(str);
      }

      $(window).on("load", function () {
        /*<![CDATA[*/
        var entryDetails = /*[[${entryDetails}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var toPs = /*[[${toPs}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var fromPs = /*[[${fromPs}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var fromState = /*[[${fromState}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var fromDist = /*[[${fromDist}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var fromSubDist = /*[[${fromSubDist}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var toState = /*[[${toState}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var toDist = /*[[${toDist}]]*/ "";
        /*]]>*/
        /*<![CDATA[*/
        var toSubDist = /*[[${toSubDist}]]*/ "";
        /*]]>*/
        // console.log(fromDist + "  " + toDist + "  " + fromSubDist + "  " + toSubDist);
        var dtStr = '+0d';
        if (Number(new Date().getHours()) > 18) {
          var dtStr = '+1d';
        }
        $("#journeyDate").datepicker({
          minDate: dtStr,
          // maxDate: '+20d',
          changeMonth: true,
          // changeYear: true,
          dateFormat: 'dd/mm/yy'
        });
        // $("#journeyToDate").datepicker({
        //   minDate: '+0d',
        //   // maxDate: '+20d',
        //   changeMonth: true,
        //   // changeYear: true,
        //   dateFormat: 'dd/mm/yy'
        // });
        $("#journeyType").change(function () {
          $("#toState").removeAttr("disabled");
          $("#fromState").removeAttr("disabled");
          if ($(this).val() === "01") {
            // $("#fromState").val("");
            $("#fromAssam").attr("style", "display:none;");
            $("#toAssam").removeAttr("style");
            $("#toState").val("18").change();
            getDistrict("toDistrict", "18");
            $("#toState").attr("disabled", "diabled");
          } else if ($(this).val() === "02") {
            // $("#toState").val("").change();
            $("#toAssam").attr("style", "display:none;");
            $("#fromAssam").removeAttr("style");
            $("#fromState").val("18").change();
            getDistrict("fromDistrict", "18");
            $("#fromState").attr("disabled", "diabled");
          }
        });
        $("#journeyType").change(function () {
          $("#toState").removeAttr("disabled");
          $("#fromState").removeAttr("disabled");
          if ($(this).val() === "01") {
            $("#toState").val("18").change();
            getDistrict("toDistrict", "18");
            $("#toState").attr("disabled", "diabled");
          } else if ($(this).val() === "02") {
            $("#fromState").val("18").change();
            getDistrict("fromDistrict", "18");
            $("#fromState").attr("disabled", "diabled");
          }
        });
        $(".privateArrangemnt").hide();
        $("#btnAdd").click(function () {
          addMember("", "", "", "");
        });
        $("#btnRemove").click(function () {
          if (memberCount <= 1) {
            alert("Last Member");
          } else {
            $("#member" + memberCount).remove();
            memberCount--;
          }
        });
        if (memberCount == 0) {
          $("#btnAdd").click();
        }
        $("#fromState").change(function () {
          var sel = "<label for=\"fromPoliceStation\">" +
            "From Police Station (থানা)</label>" +
            "<select class=\"form-control\" name=\"fromPoliceStation\" id=\"fromPoliceStationSel\">" +
            "<option>--SELECT--</option>" +
            "</select>";
          var txt = "<label for=\"fromPoliceStation\">" +
            "From Police Station (থানা)</label>" +
            "<input class=\"form-control\" name=\"fromPoliceStation\" type=\"text\" id=\"fromPoliceStationTxt\" placeholder=\"Enter Police Station\" \>";
          if ($(this).val() === "18") {
            $("#fromPoliceStationDiv").html(sel);
          } else {
            $("#fromPoliceStationDiv").html(txt);
          }
          getDistrict("fromDistrict", $(this).val());
        });
        $("#toState").change(function () {
          var sel = "<label for=\"fromPoliceStation\">" +
            "To Police Station (থানা)</label>" +
            "<select class=\"form-control\" name=\"toPoliceStation\" id=\"toPoliceStationSel\">" +
            "<option>--SELECT--</option>" +
            "</select>";
          var txt = "<label for=\"fromPoliceStation\">" +
            "To Police Station (থানা)</label>" +
            "<input class=\"form-control\" name=\"toPoliceStation\" type=\"text\" id=\"toPoliceStationTxt\" placeholder=\"Enter Police Station\" \>";
          if ($(this).val() === "18") {
            $("#toPoliceStationDiv").html(sel);
          } else {
            $("#toPoliceStationDiv").html(txt);
          }
          getDistrict("toDistrict", $(this).val());
        });
        $("#fromDistrict").change(function () {
          getThana("fromPoliceStationSel", $(this).val());
          getSubDistrict("fromSubDistrict", $(this).val());
        });
        $("#toDistrict").change(function () {
          getThana("toPoliceStationSel", $(this).val());
          getSubDistrict("toSubDistrict", $(this).val());
        });
        function getDistrict(id, val) {
          $.ajax({
            type: "POST",
            url: "./GetDistrict",
            data: "id=" + val,
            success: function (data) {
              // alert(JSON.stringify(data));
              // var obj = jQuery.parseJSON(data);
              var html = "<option value=\"\">--SELECT--</option>";
              $.each(data, function (key, value) {
                html += "<option value='" + value.districtCode + "'>" + value.districtName + "</option>\n";
              });
              $("#" + id).html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Error Fetching District List");
            }
          });
        }
        function getSubDistrictUpdate(id, val, e, ps, type) {
          $.ajax({
            type: "POST",
            url: "./GetSubDistrict",
            data: "id=" + val,
            success: function (data) {
              // var obj = jQuery.parseJSON(data);
              var html = "<option value=\"\">--SELECT--</option>";
              $.each(data, function (key, value) {
                html += "<option value='" + value.subDistrictCode + "' >" + value.subDistrictName + "</option>\n";
              });
              // console.log(html);
              $("#" + id).html(html);
              $("#" + id).val(e).change();
              // setTimeout(function () {
              if (type === "from") {
                if ($("#fromPoliceStationSel").length) {
                  $("#fromPoliceStationSel").val(ps);
                } else if ($("#fromPoliceStationTxt").length) {
                  $("#fromPoliceStationTxt").val(ps);
                }
              }
              if (type == "to") {
                if ($("#toPoliceStationSel").length) {
                  $("#toPoliceStationSel").val(ps);
                } else if ($("#toPoliceStationTxt").length) {
                  $("#toPoliceStationTxt").val(ps);
                }
              }
              // }, 10);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Error Fetching Sub-District List");
            }
          });
        }
        function getDistrictUpdate(id, val, e, subDist, ps, type) {
          $.ajax({
            type: "POST",
            url: "./GetDistrict",
            data: "id=" + val,
            success: function (data) {
              // alert(JSON.stringify(data));
              // var obj = jQuery.parseJSON(data);
              var html = "<option value=\"\">--SELECT--</option>";
              $.each(data, function (key, value) {
                html += "<option value='" + value.districtCode + "' >" + value.districtName + "</option>\n";
              });
              $("#" + id).html(html);
              $("#" + id).val(e).change();
              // setTimeout(function () {
              if (type === "from") {
                if ($("#fromDistrict").val() !== "") {
                  getSubDistrictUpdate("fromSubDistrict", $("#fromDistrict").val(), subDist, fromPs, type);
                }
              }
              if (type == "to") {
                if ($("#toDistrict").val() !== "") {
                  getSubDistrictUpdate("toSubDistrict", $("#toDistrict").val(), subDist, toPs, type);
                }
              }
              // }, 10);

            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Error Fetching District List");
            }
          });
        }

        function getSubDistrict(id, val) {
          $.ajax({
            type: "POST",
            url: "./GetSubDistrict",
            data: "id=" + val,
            success: function (data) {
              // var obj = jQuery.parseJSON(data);
              var html = "<option value=\"\">--SELECT--</option>";
              $.each(data, function (key, value) {
                html += "<option value='" + value.subDistrictCode + "'>" + value.subDistrictName + "</option>\n";
              });
              // console.log(html);
              $("#" + id).html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Error Fetching Sub-District List");
            }
          });
        }

        function getThana(id, val) {
          if ($("#" + id).length) {
            $.ajax({
              type: "POST",
              url: "./GetThana",
              data: "id=" + val,
              success: function (data) {
                // var obj = jQuery.parseJSON(data);
                var html = "<option value=\"\">--SELECT--</option>";
                $.each(data, function (key, value) {
                  html += "<option value='" + value.thanaCode + "'>" + value.thanaName + "</option>\n";
                });
                // console.log(html);
                $("#" + id).html(html);
              },
              error: function (jqXHR, textStatus, errorThrown) {
                alert("Error Fetching Sub-District List");
              }
            });
          }
        }

        $("#arrangementType").change(function () {
          // console.log($("#arrangement").val());
          if ($("#arrangementType").val() === "02") {
            $(".privateArrangemnt").show();
          } else {
            $(".privateArrangemnt").each(function () {
              $(this).find(".form-control").each(function () {
                $(this).val("");
              })
            });
            $(".privateArrangemnt").hide();
          }
        });
        if ($("#arrangementType").val() !== "") {
          if ($("#arrangementType").val() === "02") {
            $(".privateArrangemnt").show();
          } else {
            $(".privateArrangemnt").hide();
          }
        }

        $("#modeOfTransport").change(function () {
          var air = "<label for=\"entryDetails\">\n" +
            "                              <span class=\"mandetory\">*</span>Airport Name (বিমানবন্দৰ)\n" +
            "                            </label>\n" +
            "                            <input type=\"text\" data-validation=\"custom_arrangement_validation\" name=\"entryDetails\" id=\"entryDetails\" placeholder=\"Enter Airport\" class=\"form-control\" />\n" +
            "                          ";
          var rail = "<label for=\"entryDetails\">\n" +
            "                              <span class=\"mandetory\">*</span>Railway Station (ট্রেন স্টেশন)\n" +
            "                            </label>\n" +
            "                            <input type=\"text\" data-validation=\"custom_arrangement_validation\" name=\"entryDetails\" id=\"entryDetails\" placeholder=\"Enter Railway Station\" class=\"form-control\" />\n" +
            "                          ";
          var road = "<label for=\"entryDetails\">\n" +
            "                              <span class=\"mandetory\">*</span>Assam Border Gate (অসম সীমান্ত গেট)\n" +
            "                            </label>\n" +
            "                            <select data-validation=\"custom_arrangement_validation\" name=\"entryDetails\" id=\"entryDetails\" class=\"form-control\" >\n" +
            "                               <option value=\"\">--SELECT--</option>\n" +
            "                               <option value=\"SRIRAMPUR GATE [KOKRAJHAR]\">SRIRAMPUR GATE [KOKRAJHAR]</option>\n" +
            "                               <option value=\"CHAGOLIA [DHUBRI]\">CHAGOLIA [DHUBRI]</option>\n" +
            "                          </select>";
          if ($(this).val() === "01") {
            // Road
            $("#modeOfTransportDiv").html(road);
          } else if ($(this).val() === "02") {
            // Train
            $("#modeOfTransportDiv").html(rail);
          } else if ($(this).val() === "03") {
            // Air
            $("#modeOfTransportDiv").html(air);
          } else {
            $("#modeOfTransportDiv").html("");
          }
        });



        // Polulate Data if filled up

        $("#fromState").val(fromState).change();
        // alert(fromState);
        $("#toState").val(toState).change();
        // alert(toState);

        if ($("#journeyType").val() !== "") {

          $("#journeyType").change();
        }
        if ($("#fromState").val() !== "") {
          getDistrictUpdate("fromDistrict", $("#fromState").val(), fromDist, fromSubDist, fromPs, "from");
        }

        if ($("#toState").val() !== "") {
          getDistrictUpdate("toDistrict", $("#toState").val(), toDist, toSubDist, toPs, "to");
        }



        if ($("#arrangementType").val() === "02") {
          var modeOfTransport = $("#modeOfTransport").val();
          // var entryDetails = $("#entryDetails").val();
          $("#arrangementType").change();
          if (modeOfTransport !== "") {
            $("#modeOfTransport").change();
          }
          $("#entryDetails").val(entryDetails);
        }

        // Done populating data

      });</script>
    <script th:if="${errMsg}" th:inline="javascript">
      /*<![CDATA[*/
      var msg = /*[[${errMsg}]]*/ "";
      /*]]>*/
      $.alert({
        title: 'Error!',
        content: msg,
        type: 'red',
        typeAnimated: true
      });</script>
    <script th:if="${memList}" th:inline="javascript">
      /*<![CDATA[*/
      var memList = /*[[${memList}]]*/ "";
      /*]]>*/
      $.each(memList, function (key, val) {
        addMember(val.memberName, val.memberGender, val.memberAge, val.medCondition);
      });

    </script>
</body>
</html>